.link-github{
    background: url(http://cdn1.iconfinder.com/data/icons/Keyamoon-IcoMoon--limited/16/github.png) left center no-repeat;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 24px;
}